.card-img {
  max-width: 100%;
}


footer a {
  color: blue;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .card-header h4 {
    display: inline-block;
  }
  .card-header button {
    float: right;
  }
}
